@import "tailwindcss";

@theme {
  --color-login: #53c28b;
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  body {
    @apply w-screen overflow-x-hidden;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility moving {
  animation: move 2s ease-in-out infinite alternate-reverse;
}
@keyframes move {
  from {
    transform: translateY(0) scale(0.98);
  }
  to {
    transform: translateY(-15px);
  }
}

@layer components {
  .btn-primary {
    @apply bg-login rounded-md px-4 py-1 text-white cursor-pointer;
  }
  .portfolio-card {
    @apply border rounded-md max-md:w-[150px] max-md:h-[230px] w-70 h-90 relative bg-cover bg-center bg-no-repeat;
  }
  .portfolio-text {
    @apply absolute text-gray-300 bottom-0 right-0 text-xl font-semibold lg:text-3xl;
  }
  .image-container {
    @apply w-full relative h-100;
  }
}
